[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
faker = "*"
webargs = "*"
requests = "*"

[dev-packages]
faker = "*"

[requires]
python_version = "3.11"
